* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background-color: #2E5266;
    background-color: #000000;
    background-color: #000814;
    background-color: white;
    background-color: #003d5b;
    color: #669bbc;
    color: #14213d;
    color: #1a659e;
    color: white;
    color: #D6E4F5;
    scroll-behavior: smooth;
}

#highlight {
    text-decoration: none;
    color: #1a659e;
}

#highlight:hover {
    color: #1a659eb4;
    cursor: pointer;
}

a:hover, #contact a:hover {
    color: #D6E4F5;
}

nav a, #contact a {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #1a659e;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}


#two {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 10vw;
    display: none;
}

#three {
    display: none;
}

#contact {
    display: none;
}

#contact {
    height: 200px;
    background-color: #003554;
}

#contact ul li {
    margin-top: 1rem;
}

#one input {
    height: 1.5rem;
    padding-left: 0.1rem;
}

#error-empty {
    color: red;
    font-size: 0.8rem;
}

#enter {
    width: 5rem;
    height: 1.5rem;
    background-color: #D6E4F5;
    color: #003554;
    font-family: inherit;
    font-weight: bold;
    margin: 0.5rem auto 0;
    outline: none;
    border: none;
}

#enter:hover {
    background-color: #1a659e;
}

#my-name {
	color: #D6E4F5;
	text-shadow:
		0 0 4px rgba(214, 228, 245, 0.6),
		0 0 8px rgba(214, 228, 245, 0.4),
		0 0 16px rgba(214, 228, 245, 0.2);
}

header {
    background-color: #003554;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
}

header h1 {
    padding-left: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}


main {
    display: flex;
    justify-content: center;
    height: 93vh;
    margin-bottom: 10rem;
}

body .text {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    font-size: 1.3rem;
}

#likes, #projects {
    border: 2px solid #D6E4F5;
    min-height: 97vh;
}

div h2 {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 4rem;
}

div ol li {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    list-style-position: inside;
}

div ol li img {
    height: 40vh;
    width: 300px;
}

div ol li span {
    width: 430px;
}

body #projects img {
    height: 15rem;
    width: auto;
}

#small {
    font-size: 1rem;
    font-weight: 200;
}

#projects {
    padding-bottom: 2rem;
}

#mobile {
    display: none;
}

.copy {
    display: none;
}

#hide2 {
    display: none;
}

@media screen and (max-width: 576px) {
    nav {
        display: none;
    }

    main {
        display: block;
        max-height: 93vh;
        margin-bottom: 0;
    }

    main img {
        display: none;
        margin: 3rem auto 0;
        border: 2px solid #D6E4F5;
    }

    #mobile {
        display: block;
        width: 200px;
        height: auto;
        border-radius: 50%;
    }

    body .text {
        width: 70%;
        margin: 0 auto 0;
        padding-top: 2rem;
    }

    div h2 {
        margin: 0 1.5rem;
    }

    div ol li {
        margin: 1rem;
        display: block;
        max-width: 80%;
        border: 2px solid;
    }

    div ol li img {
        display: block;
        margin-top: 1rem;
    }
    
    .original {
        display: none;
    }

    .copy {
        display: block;
    }

    #hide2 {
        display: block;
        width: 100%;
    }

    #show2 {
        display: none;
    }
}
